<mat-toolbar style="background-color: black;">
    <span><a href="" style="font-size: large;">Covid19</a></span>
    <span class="spacer"></span>
    <ul>
        <mat-toolbar style="background-color: black;">
        <li> 
            <a mat-button routerLink="/home" routerLinkActive="current">Home</a>
        </li>
        <li> 
            <a mat-button routerLink="/country" routerLinkActive="current">Country details</a>
        </li>
        <li> 
            <a mat-button routerLink="/district" routerLinkActive="current">State details</a>
        </li>
        <li> 
            <a mat-button routerLink="/helpline" routerLinkActive="current">HelpLines</a>
        </li>
        </mat-toolbar>
    </ul>
</mat-toolbar>
