<div class="container-fluid" style="margin-top: 30px;margin-bottom: 16px;">
    <div class="card-deck">
      <div class="card text-center" style="width: 18rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card-header text-dark font-weight-bold">
          Total Cases
        </div>
        <div class="card-body text-dark ">
          1234455<br>
        </div>
      </div>
  
      <div class="card text-center" style="width: 18rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card-header text-primary font-weight-bold">
          Active Cases
        </div>
        <div class="card-body text-primary ">
          325535<br>
        </div>
      </div>
  
      <div class="card text-center" style="width: 18rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card-header text-success font-weight-bold">
          Cured Cases
        </div>
        <div class="card-body text-success ">
          5673<br>   
        </div>
      </div>
  
      <div class="card text-center" style="width: 18rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card-header text-danger font-weight-bold">
          Deaths
        </div>
        <div class="card-body text-danger">
          1600<br>
        </div>
      </div>
  
    </div>
  </div>