<app-navbar class="fixed-top"></app-navbar>

<div>
    <app-carousel></app-carousel>
</div>
<div>
    <h2 class="h2 text-center">COVID-19 STATUS IN INDIA</h2>
</div>
<app-board ></app-board>

<div class="bg-light" style="height: 300px; margin-top: 50px;">
    <div class="row">
        <div class="col-md-2">
            <img src="../../assets/images/doctor-logo.png" height="300px">
        </div>
        <div class=" col-md-8">
            <div style="margin-top: 16px;">
                <h2 class="display-4 text-center font-weight-bold">Test Yourself</h2>
            </div>
            <div  class="heading-2 text-center">
                <p>Test yourself by sitting at your home and check whether you are Covid positive or not!</p>
                <p>Just answer the questions asked in this questionare and get the results. This wont take long!</p>
                <p>Stay Home! Stay Safe!</p>
                <br>
                <button class="btn btn-outline-dark" routerLink="/test">Test YourSelf</button>
            </div>

        </div>
    </div>
</div>
<div style="height:300px; margin-top: 50px;">
    <div class="row">
        <div class=" col-md-8">
            <div style="margin-top: 16px;">
                <h2 class="display-4 text-center font-weight-bold">Donate Now</h2>
            </div>
            <div  class="heading-2 text-center">
                <p>Make your small contribution in PM's Relief Fund!</p>
                <p>Donate any amount in order to help india to fight against COVID-19. Donate directly to the PM's Relief Fund.</p>
                <p>Every Contribution matters!</p>
                <br>
                <a class="btn btn-outline-success" href="https://pmnrf.gov.in/en/" target="_blank" >Donate</a>
            </div>

        </div>
        <div class="col-md-2">
            <img src="../../assets/images/india-map.png" height="300px">
        </div>
    </div>
</div>


<!--Footer-->
<footer style="height: 40px; background-color: black; margin-top: 30px;">
    <div class="text-light text-center">
        &copy; CCET,Sector-26,Chandigarh
    </div>
</footer>
